<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link href="../../assets/vendor/nucleo/css/nucleo.css" rel="stylesheet" />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="../../assets/img/apple-icon.png"
    />
    <link rel="icon" type="image/png" href="../../assets/img/favicon.png" />
    <title>Argon Dashboard</title>
    <!--     Fonts and icons     -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
      rel="stylesheet"
    />
    <!-- Nucleo Icons -->
    <link
      href="https://demos.creative-tim.com/argon-dashboard-pro/assets/css/nucleo-icons.css"
      rel="stylesheet"
    />
    <link
      href="https://demos.creative-tim.com/argon-dashboard-pro/assets/css/nucleo-svg.css"
      rel="stylesheet"
    />
    <!-- Font Awesome Icons -->
    <script
      src="https://kit.fontawesome.com/42d5adcbca.js"
      crossorigin="anonymous"
    ></script>
    <!-- CSS Files -->
    <link
      id="pagestyle"
      href="../../assets/css/argon-dashboard.css?v=2.1.0"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>

  <body class="g-sidenav-show bg-gray-100">
    <div
      class="min-height-300 position-absolute w-100"
      style="background-color: #344767"
    ></div>
    <aside
      class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4"
      id="sidenav-main"
    >
      <div class="sidenav-header">
        <i
          class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
          aria-hidden="true"
          id="iconSidenav"
        ></i>
        <a class="navbar-brand m-0" href="javascript:void(0)">
          <img
            src="../../assets/img/logo-ct-dark.png"
            width="26px"
            height="26px"
            class="navbar-brand-img h-100"
            alt="main_logo"
          />
          <span class="ms-1 font-weight-bold">Creative Tim</span>
        </a>
      </div>
      <hr class="horizontal dark mt-0" />
      <div class="collapse navbar-collapse w-auto" id="sidenav-collapse-main">
        <ul class="navbar-nav accordion" id="accordionSidebar">
          <!-- Dashboard -->
          <li class="nav-item">
            <a class="nav-link active" href="/dashboard">
              <div
                class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center"
              >
                <i class="ni ni-tv-2 text-dark text-sm opacity-10"></i>
              </div>
              <span class="nav-link-text ms-1">Dashboard</span>
            </a>
          </li>

          <!-- Reusable Accordion Item Template -->
          <li class="nav-item">
            <a
              class="nav-link collapsed d-flex align-items-center"
              data-bs-toggle="collapse"
              href="#adminAccordion"
              role="button"
              aria-expanded="false"
              aria-controls="adminAccordion"
            >
              <div
                class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center"
              >
                <i class="ni ni-credit-card text-dark text-sm opacity-10"></i>
              </div>
              <span class="nav-link-text ms-1">Admin</span>
            </a>
            <div
              class="collapse"
              id="adminAccordion"
              data-bs-parent="#accordionSidebar"
            >
              <ul class="nav flex-column ms-4">
                <li class="nav-item">
                  <a class="nav-link" href="/addAdmin">Add Admin</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/viewAdmin">View Admin</a>
                </li>
              </ul>
            </div>
          </li>

          <!-- Category Accordion -->
          <li class="nav-item">
            <a
              class="nav-link collapsed d-flex align-items-center"
              data-bs-toggle="collapse"
              href="#categoryAccordion"
              role="button"
              aria-expanded="false"
              aria-controls="categoryAccordion"
            >
              <div
                class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center"
              >
                <i
                  class="ni ni-bullet-list-67 text-dark text-sm opacity-10"
                ></i>
              </div>
              <span class="nav-link-text ms-1">Category</span>
            </a>
            <div
              class="collapse"
              id="categoryAccordion"
              data-bs-parent="#accordionSidebar"
            >
              <ul class="nav flex-column ms-4">
                <li class="nav-item">
                  <a class="nav-link" href="/category/addCategoryPage"
                    >Add Category</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/category/viewCategoryPage"
                    >View Category</a
                  >
                </li>
              </ul>
            </div>
          </li>

          <!-- Sub Category Accordion -->
          <li class="nav-item">
            <a
              class="nav-link collapsed d-flex align-items-center"
              data-bs-toggle="collapse"
              href="#subCategoryAccordion"
              role="button"
              aria-expanded="false"
              aria-controls="subCategoryAccordion"
            >
              <div
                class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center"
              >
                <i class="ni ni-tag text-dark text-sm opacity-10"></i>
              </div>
              <span class="nav-link-text ms-1">Sub Category</span>
            </a>
            <div
              class="collapse"
              id="subCategoryAccordion"
              data-bs-parent="#accordionSidebar"
            >
              <ul class="nav flex-column ms-4">
                <li class="nav-item">
                  <a class="nav-link" href="/subCategory/addSubCategoryPage"
                    >Add Sub Category</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/subCategory/viewSubCategoryPage"
                    >View Sub Category</a
                  >
                </li>
              </ul>
            </div>
          </li>

          <!-- Extra Category Accordion -->
          <li class="nav-item">
            <a
              class="nav-link collapsed d-flex align-items-center"
              data-bs-toggle="collapse"
              href="#extraCategoryAccordion"
              role="button"
              aria-expanded="false"
              aria-controls="extraCategoryAccordion"
            >
              <div
                class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center"
              >
                <i class="ni ni-collection text-dark text-sm opacity-10"></i>
              </div>
              <span class="nav-link-text ms-1">Extra Category</span>
            </a>
            <div
              class="collapse"
              id="extraCategoryAccordion"
              data-bs-parent="#accordionSidebar"
            >
              <ul class="nav flex-column ms-4">
                <li class="nav-item">
                  <a class="nav-link" href="/extraCategory/addExtraCategoryPage"
                    >Add Extra Category</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    href="/extraCategory/viewExtraCategoryPage"
                    >View Extra Category</a
                  >
                </li>
              </ul>
            </div>
          </li>

          <!-- Product Tab -->
          <li class="nav-item">
            <a
              class="nav-link collapsed d-flex align-items-center"
              data-bs-toggle="collapse"
              href="#productAccordion"
              role="button"
              aria-expanded="false"
              aria-controls="productAccordion"
            >
              <div
                class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center"
              >
                <i class="ni ni-box-2 text-dark text-sm opacity-10"></i>
              </div>
              <span class="nav-link-text ms-1">Products</span>
            </a>
            <div
              class="collapse"
              id="productAccordion"
              data-bs-parent="#accordionSidebar"
            >
              <ul class="nav flex-column ms-4">
                <li class="nav-item">
                  <a class="nav-link" href="/product/addProductPage"
                    >Add Product</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/product/viewProductPage"
                    >View Product</a
                  >
                </li>
              </ul>
            </div>
          </li>

          <!-- Profile -->
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center" href="/adminProfile">
              <div
                class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center"
              >
                <i class="ni ni-single-02 text-dark text-sm opacity-10"></i>
              </div>
              <span class="nav-link-text ms-1">Profile</span>
            </a>
          </li>
        </ul>
      </div>
    </aside>
  </body>
</html>
